@import url('https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v30.1.0/dist/font-face.css');


@import "tailwindcss";

        

body {
  direction: rtl;
  font-family: 'Vazir', '-apple-system', 'BlinkMacSystemFont', "Segoe UI", 'Roboto', sans-serif;
}

.num{
  display: flex;
  flex-direction: column;
}
